<footer class="site-footer allign-center">
<div class="wrapper" ondblclick="window.open('{{ site.github_ghpages }}/{{ page.path }}', '_blank');">
 © 2018 The 8th Joint International Semantic Technology Conference (JIST2018)
</div>

</footer>

<!-- offline functionality -->
<script src="{{ site.baseurl }}/libs/indexeddb.shim.min.js"></script>
<script src="{{ site.baseurl }}/libs/promise-1.0.0.min.js"></script>
<script>
  var votingURL = "{{ site.voting_url }}";
</script>
<script src="{{ site.baseurl }}/scripts/offline.js"></script>

<script> <!-- Google Analytics -->
</script>

