<h3>Sponsors</h3>
<!-- ######################  GOLD ###################### -->
<h4 style="color:#aa6708"><strong>Gold Sponsors</strong></h4>

<div class="iswc-ads-items">
	<div class="panel panel-default" style="xborder:3px solid #6991de; border-width: 2px 1px;">
	  <div class="panel-body allign-center" style="padding: 0px">
		<a target="_blank" href="http://ontolonomy.co.jp/">
			<img alt="" src="{{ site.baseurl }}/images/sponsors_logo/ontolonomy_logo.png" width="100%"/>
		</a>
	  </div>
	</div>
</div>
