<h3>Sponsors</h3>

<!-- ######################  PLATINUM ###################### -->
<h4 style="color:#4669ad; font-size:1.4em; margin-top:20px"><strong>Platinum Sponsors</strong></h4>

<div class="iswc-ads-items">
	<div class="panel panel-default" style="xborder:3px solid #6991de; border-width: 2px 1px; padding: 50px 0px;">
		<div class="panel-body allign-center" style="padding: 0px">
			<a target="_blank" href="https://www.oracle.com/technetwork/database/options/spatialandgraph/overview/rdfsemantic-graph-1902016.html">
				<img alt="Oracle" src="{{ site.baseurl }}/images/sponsors_logo/O_signature_clr.jpg" width="100%" />
			</a>
		</div>
	</div>
</div>

<!-- ######################  GOLD ###################### -->
<h4 style="color:#aa6708"><strong>Gold Sponsors</strong></h4>

<div class="iswc-ads-items">
	<div class="panel panel-default" style="xborder:3px solid #6991de; border-width: 2px 1px; padding: 10px;">
		<div class="panel-body allign-center" style="padding: 0px">
			<a target="_blank" href="http://ontolonomy.co.jp/">
				<img alt="Ontolonomy" src="{{ site.baseurl }}/images/sponsors_logo/ontolonomy_logo.png" width="90%" />
			</a>
		</div>
	</div>
</div>